# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build folder
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Env Files (สำคัญมาก ห้ามเอาขึ้น git)
.env*.local
.env

# Vercel
.vercel

# Backend
/backend

manga-cleaner.code-workspace
