# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build folder
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Env Files (สำคัญมาก ห้ามเอาขึ้น git)
.env*.local
.env
DEPLOYMENT_GUIDE.md

# Vercel
.vercel

# Backend
/backend
/.venv
backend_changes_log.md
DEPLOYMENT.md
manga.db

manga-cleaner.code-workspace

# Editors
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# TypeScript
*.tsbuildinfo
